/* Colors 
#0d1a37 = dark W&L blue
*/


/* General settings */ 
h1, h2, h3, h4, h5 {
	font-family: "Baskerville", serif ;
	font-weight:normal;
}
body {
	font-family: "Helvetica Neue", sans-serif;
	font-size:100%;
	background-color: #fff;
}

body:before {
	background-image: none;	
}


a, a:hover, a:focus {
	color: #495057;
}
.navbar.bg-primary {
	background-color: #20c997 !important;
	background-image: none;

a.navbar-brand {
	font-family:"Georgia", serif;
}

.navbar, .navbar-default {
	background-color: #0d1a37 !important;
	background-image: none;
	border-bottom: 1px solid #0d1a37;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus, 

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus,
.dropdown-active .dropdown-toggle > a:hover
 {
	color: #495057;

}

.dropdown-menu > .active > a, 
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus
  {
	color: #495057;

}

.well {
	background:none;
	border: none;
}



footer > hr {
	display: none;
}


/*
a, a:visited, a:hover {
	color: #607960;
}

a.icon, a.icon:hover {
	color: #fff;
	background-color:#607960;
}

/* Sidebar 
.wy-side-nav-search, .wy-nav-side, .rst-versions, .rst-current-version {
	background-color: #607960 !important;

}

/* Sidebar header 
.fa-home::before, .icon-home::before {
    content: " ð’¢ ";
}
.fa-home::after, .icon-home::after {
    content: " ð’¢ ";
}


.fa-home a {
color: #fff;
}
.wy-side-nav-search > a {
	font-weight: normal;
	font-family: "Georgia", serif;
	font-size:120%;
}

.wy-side-nav-search input[type="text"] {
    border-color: white;
    font-family: "Helvetica Neue", sans-serif;
}

div.rst-versions {
background-color:#8ca28c;
}


/* all the links 
.wy-menu-vertical a {
	color: #fff;
}

.wy-menu-vertical a:hover {
	background: #8ca28c;
}

.wy-menu-vertical li.current {
	color: #8ca28c;
}

.wy-menu-vertical li.current a {
	background: #8ca28c;
	border:none;
	color: #fff;
}

.wy-menu-vertical li.current a:hover {
	background: #8ca28c;
}

/* this is the submenu highlight 
.wy-menu-vertical li.current li a:hover {
	background: #98b098;
}



/* Main content 

.wy-nav-content {
	max-width: 100%;
	background-color: #f3f3f3;
}

.wy-nav-content-wrap, {
	background-color: #f3f3f3;
}

.wy-breadcrumbs {
	font-family: "Georgia", serif;
}

a.btn, a.btn-neutral {
	font-family: "Helvetica Neue", sans-serif;
	color: #607960;
}
/* Footer 

footer {
	font-family: "Georgia", serif ;
	color: #000;
}
*/ 
